<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689274094549-cn4aq2isattagdvf708men8c67k5q8jd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689274094549-cn4aq2isattagdvf708men8c67k5q8jd</string>
	<key>API_KEY</key>
	<string>AIzaSyBtL-F5YlzDCsBsl8q2_-aTdK3G-shxa64</string>
	<key>GCM_SENDER_ID</key>
	<string>689274094549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TSApp</string>
	<key>PROJECT_ID</key>
	<string>employee-a7390</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-a7390.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689274094549:ios:cc63d560298999337fb35c</string>
	<key>DATABASE_URL</key>
	<string>https://employee-a7390.firebaseio.com</string>
</dict>
</plist>